# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pkl

# Virtual Environments
venv/
.env
.venv/

# VSCode
.vscode/

# Jupyter
.ipynb_checkpoints

# OS/Editor Artifacts
.DS_Store
Thumbs.db

# Logs
*.log

# Pyenv
.python-version

# PyTorch cache
~/.torch/

# Project Files
arc_tasks.json

# Graph Snapshots
snapshots/
